body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title {
  text-align: left;
  background-color: #ea4b79;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.colored-section {
  background-color: #ea4b79;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-family: "Montserrat";
  font-weight: 600;
}

/* Title Image */

.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Advantages */

#features {
  padding: 7% 15%;
  position: relative;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

.subtitle {
  color: #8f8f8f;
  font-family: "Montserrat";
  font-weight: 600;
}

.adv-block {
  padding: 5%;
}

.adv-icon {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.adv-icon:hover {
  color: #ea4b79;
}

/* Testimonial Section */

.colored-section#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.colored-section#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  padding: 2%;
}

.cta-content {
  padding: 5% 20%;
}

.action-phrase {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Footer */

#footer {
  padding: 10% 15%;
}

.smm-icons {
   margin: 0 10px;
}

.smm-icons:hover {
  color: #ea4b79;
}

@media (max-width: 1240px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 20rem;
  }
}
